.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.test-table {
    width: 500px;
    height: 350px;
    text-align: center;
    
}

.test-table, td, th{
    border-bottom: 1px solid rgb(226, 216, 216);
    border-collapse: collapse;
    width: 500px;

}

th:first-child, td:first-child{
    text-align: right;

}

th:last-child, td:last-child{
    text-align: left;

}